body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c2fabd;
  background-position: center;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  margin: auto auto;
  padding-bottom: 15px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  font-family: "Oswald", sans-serif;
}

header {
  background-color: #6e986a;
  width: 100%;
  margin: auto auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
