#footer {
  height: 200px;
  min-width: 100%;
  background-color: #406b45;
  text-align: center;
  background-image: url("images/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
