#head {
  height: 200px;
  width: 800px;
  margin-bottom: 20px;
  color: #f3f1ca;
  background-color: #406b45;
  text-align: center;
  background-image: url("images/header-image.png");
  background-position: center;
}
