#head {
  height: 200px;
  min-width: 100%;
  margin-bottom: 20px;
  color: #f3f1ca;
  background-color: #406b45;
  text-align: center;
  background-image: url("images/header-image.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
