* {
  box-sizing: border-box;
  margin: 0;
}

header,
footer {
  background-color: #6e986a;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
  padding: 0;
}

.description {
  padding-top: 15px;
  padding-bottom: 15px;
}

.directions {
  padding-top: 15px;
  padding-bottom: 15px;
}

.directions-url {
  padding-top: 15px;
  padding-bottom: 15px;
}

.coordinates-lat {
  padding-top: 15px;
}

.coordinates-lon {
  padding-bottom: 15px;
}

.data-url {
  padding-top: 15px;
  padding-bottom: 15px;
}

.weather-info {
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  list-style: none;
}

main {
  background-color: white;
  text-align: center;
}

nav {
  text-align: center;
  margin: 0.8% 0 1% 0;
  padding-left: 15px;
}

nav a {
  background-color: #a1c298;
  border-radius: 5px;
  border-radius: 10px;
  color: #3c2317;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 3px 20px 5px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #79e077;
  color: #3c2317;
}

h1 {
  text-align: center;
  color: #3c2317;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Oswald", sans-serif;
}
h2 {
  color: #3c2317;
}

select {
  display: inline;
}

button {
  background-color: #a1c298;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: #3c2317;
  padding: 5px 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#choose-park {
  background-color: #eddbc0;
  font-size: large;
  text-align: center;
  font-weight: bold;
}
